* {
  box-sizing: border-box;
}

/* GENERAL STYLES */

/* Single-direction margin declaration to establish vertical rhythm. */
h2,h3,h4,h5,
ul,
p {
  margin-bottom: 1.5rem;
}


/* Configurează fundalul imaginii. */

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  font-size: .9rem;
  line-height: 1.5;
  min-width: 30.125rem;
}

main {
  background-color: #fff;
  width: calc(100% - 10rem);
  min-width: 20.125rem;
}

h1, h2 {
  font-family: Georgia;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* clear float */

.float-left::after,
.float-right::after {
  content: "";
  clear: both;
  /* display: table; */
}

.border {
  border: 1px solid #a7d7f9;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

figcaption {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: .8rem;
}

sup {
  vertical-align: super;
  font-size: 80%;
}

/* Definește proprietățile obișnuite ale modelului cutie pentru containerele de pe pagină (secțiunile).
 */

section {
  width: 95%;
  margin: 1rem auto;
  padding: 0 .9rem;
  text-align: left;
}


/* Stilizează linkurile. */

a {
  text-decoration: none;
  color: #0645AD;
}

a:visited {
  color: #0B0080;  
}

a:hover {
  text-decoration: underline;
}

/* =============================

    ASIDE STYLES 

=============================*/

aside {
  width: 10rem;
}

aside img {
  width: 90%;
  margin-bottom: 1.5rem;
}

.page-nav section {
  margin: 0 auto;
  font-size: .75rem;
}

h6 {
  color: hsla(0, 0%, 0%, .7);
}

h6::after {
  content: "";
  display: block;
  height: 1px;
  width: 80%;
  /* background-color: hsla(0, 0%, 0%, .3); */
  border-bottom: 1px solid hsla(0, 0%, 0%, .2);
  border-radius: 9999%;
  margin-bottom: .3rem;
}

.page-nav {
  text-align: right;
}

.edit-links {
  font-size: .8rem;
  color: hsla(0, 0%, 0%, .7);
  padding-right: .9rem;
}

.edit-links:visited {
  color: hsla(0, 0%, 0%, .7);
}

.edit-links:hover {
  color: #0645AD;
}

.edit-links::before {
  content: "\270e";
}

/* .edit-links::before:hover {
  text-decoration: none;
} */

#settingsSymbol {
  font-weight: 700;
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, .6);
}

#settingsSymbol a:hover {
  text-decoration: none;
  color: #000;
}


/* =============================

    HEADER STYLES 

=============================*/

.header-list li:first-child::before {
  content: "\1F464";
}

header {
  font-size: .8rem;
  margin: .5rem;
  text-align: right;
}

.header-list li {
  display: inline-block;
  margin-right: .25rem;
}

/* =============================

    ARTICLE NAV STYLES 

=============================*/

.article-nav {
  display: inline-block;
  width: 100%;
  line-height: 2rem;
  padding: .5rem 0;
  height: 2rem;
}

.article-nav ul li {
  display: inline;
  padding: .5rem .25rem;
  margin: 0;
  border: 1px solid #a7d7f9;
  border-top: none;
  border-left: none;
  background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
}

.article-nav ul li  {
  color: #0645AD;
}

.article-nav ul li:nth-child(1) {
  border: none;
  color: #000;
  background-image: none;
}

.article-nav ul li:nth-child(1) a:hover {
  text-decoration: none;
}

/* .article-nav ul li::after {
  content: "";
  display: inline-block;
} */



.search-bar {
  border-bottom: 1px solid #a7d7f9;
  height: 2.0625rem;
  padding: 0 .5rem .2rem .5rem;
}

.search-bar input {
  line-height: 1.3rem;
}

/* =============================

    MAIN SECTION STYLES 

=============================*/

#main {
  border-top: none;
  border-right: none;
}

/* =============================

    TITLE STYLES 

=============================*/

.page-title h1 {
  font-size: 1.8rem;
  /* font-style: italic; */
  margin-bottom: 0;
}

h1::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #999;
}

h3 {
  font-size: .8rem;
  letter-spacing: .02rem;
  line-height: 2rem;
}

/* =============================

    COVER IMG STYLES 

=============================*/

.cover {
  border-color: #888;
  background-color: #f6f6f6;
  width: 18rem;
  padding: .2rem .3rem;
}

.cover h5 {
  text-align: center;
  /* font-style: italic; */
  /* font-weight: bold; */
  margin: 0;
  padding: .25rem 0;
}

.cover figure img {
  width: 100%;
  padding: 0 1.4rem;
}

.cover figure figcaption {
  line-height: .3rem;
  margin-bottom: .7rem;
}

table {
  font-size: .8rem;
  line-height: 1.5rem;
}

table tr td:nth-child(1) {
  font-weight: bold;
  padding-right: 0.8rem;
}

/* =============================

    CONTENTS BOX STYLES 

=============================*/

.contents-box {
  border-color: #888;
  background-color: #f6f6f6;
  width: 10rem;
  padding: .5rem;
  line-height: 1.5rem;
}

.contents-box h3 {
  text-align: center;
  margin: 0;
}

.indent {
  padding-left: 1.2rem;
  margin: 0;
}

/* =============================

    ARTICLES STYLES 

=============================*/

h2 {
  margin: 1rem 0 0 0;
  font-size: 1.4rem;
}

h2::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #999;
  margin-bottom: 1rem;
}

small {
  font-size: 70%;
}

.gameplay h4 {
  font-size: 1rem;
}

.gameplay figure {
  /* display: inline-block; */
  float: left;
  width: 11.75rem;
  border-color: #888;
  background-color: #f6f6f6;
  margin: 0 1rem 1rem 0;
}
 
.gameplay figure img {
  width: 100%;
  padding: .2rem;
}

.gameplay figcaption {
  text-align: left;
  padding: 0 .5rem .5rem;
  /* line-height: 1rem; */
}

.references ol {
  list-style-type: decimal;
  list-style-position: inside;
  font-size: .8rem;
  line-height: 1.35rem;
  padding-left: 2rem;
}

.further-reading ul,
.external-links ul {
  list-style-type: disc;
  list-style-position: inside;
}

.categories {
  width: 100%;
  border-color: #888;
  background-color: #f6f6f6;
  /* margin: 0 1rem 1rem 0; */
  padding: .5rem .3rem;
  line-height: 1.5rem;
}

.categories ul li::after {
  content: " \ff5C ";
}

.categories ul li:last-child::after {
  content: none;
}

.categories h5,
.categories ul,
.categories ul li {
  display: inline;
}


















